.Navbarname{

            font-size: 20px;
        // line-height: 10px;
        font-weight: 700;
        padding: 10px;
        color:#000000;
    
    }
    .Navbaranh{
        
        margin-left: 0;
        display: flex;
        flex-direction: column;
        padding: 20px;
        
    }
    .diachi{
        font-family:Arial;
      margin: 10px;
    }
    h2{
        padding: 20px;
    }
