

.imgage_con{
    width: 64px;
    height: 64px;
}
.row_col{
    flex-basis:  unset;
    display: flex;
}
.tieude{
   color: rgb(36, 36, 36);
   //padding: 10px;
   font-size: 34px;
   font-weight: 500;
   line-height: 32px;
   word-break: break-word;

}
.divgia{
    background-color: rgb(233, 226, 226);
    border-radius: 4px;
}
// .gia{
//     font-size: 40px;
//     line-height: 45px;
//     margin-right: 8px;
//     font-weight: 2000;
//     padding: 20px;
//     margin-top: 10px;
// }
.span{
        text-decoration: underline;
        font-size: 15px;
        line-height: 24px;
        font-weight: 500;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .address{
        color: rgb(0, 128, 255);
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
    }
    .inputtt{
        display: flex;
        gap: 4px;
        align-items: center;
        width: 150px;
        //border: 1px solid #ccc;
        border-radius: 4px;
    
    }
    .inptu{
        &.ant-input-number.ant-input-number-sm {
            width: 40px;
            border-top: none;
            border-bottom: none;
            .ant-input-number-handler-wrap {
                display: none !important;
            }
        };
    }
  .anhproduct  {
        width: 500px;
    }

