
body{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    background-color: rgb(250, 249, 249);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    
}
*{
    box-sizing:  border-box;
}
html{
   
    font-size: 62.5%;

}